<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riccardo Odone - $title$</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css?VERSION" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@riccardoodone" />
    <meta name="twitter:creator" content="@riccardoodone" />
    $if(description)$
      <link rel="canonical" href="https://odone.io$url$" />
      <meta property="og:url" content="https://odone.io$url$" />
      <meta property="og:title" content="$title$" />
      <meta property="og:description" content="$description$" />
      <meta name="description" content="$description$">
    $else$
      <link rel="canonical" href="https://odone.io" />
      <meta property="og:url" content="https://odone.io" />
      <meta property="og:title" content="Riccardo Odone" />
      <meta property="og:description" content="Rambling about software" />
      <meta name="description" content="Rambling about software">
    $endif$
    $if(cover_image)$
      <meta property="og:image" content="$cover_image$" />
    $else$
      <meta property="og:image" content="https://odone.io/images/android-chrome-512x512.png" />
    $endif$
  </head>

  <body class="d-flex flex-column">
    <div class="content">
      <header>
        <div class="text-center">
          <a href="/" class="logo"><span class="sr-only">Home</span></a>
        </div>
      </header>

      <div class="col-sm-8 col-md-8 col-lg-6 mx-auto">
        <main role="main" class="my-4">
          $body$
        </main>
      </div>
    </div>

    <footer>
      <div class="text-center py-4">
        <h3>Pinkletter</h3>
        <p>You need more pink in your life, I’m here to help.</p>

        <form
          action="https://buttondown.email/api/emails/embed-subscribe/3v0k4"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/3v0k4', 'popupwindow')"
          class="my-3"
        >
          <div class="col-12 col-sm-8 col-md-6 col-xl-4 input-group input-group-lg mx-auto">
            <label class="sr-only" for="bd-email">Email</label>
            <input placeholder="What's your email?" class="input-lg form-control rounded" type="email" name="email" id="bd-email" required>
            <input type="hidden" value="1" name="embed"></input>
            <div class="input-group-append"><input class="btn btn-primary" type="submit" value="Subscribe"></input></div>
          </div>
        </form>
      </div>
    </footer>

    <div class="text-center py-4">
      <img alt="Picture (headshot) of Riccardo Odone" class="selfie" src="https://odone.io/images/selfie.png">
      <h3 class="mt-2">Gimme a shout on <a href="https://twitter.com/riccardoodone" target="_blank" rel="noopener">Twitter</a>!</h3>
    </div>
  </body>
</html>
