<div id="newsletter" class="newsletter-container text-center py-4 mt-5">
  <h2>PinkLetter</h2>
  <p>
    Get the latest content via email from me personally.<br />Reply with your thoughts.<br />Let's learn from each other.
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/riccardo.odone"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/riccardo.odone', 'popupwindow')"
    class="my-3"
  >
    <div class="col-12 col-sm-8 col-md-6 col-xl-4 input-group input-group-lg mx-auto">
      <label class="sr-only" for="bd-email">Email</label>
      <input placeholder="What's your email?" class="input-lg form-control rounded" type="email" name="email" id="bd-email" required>
      <input type="hidden" value="1" name="embed"></input>
      <div class="input-group-append"><input class="btn btn-primary" type="submit" value="Subscribe"></input></div>
    </div>
  </form>

  <p class="small">
    Here's an <a target="_blank" rel="noopener" href="https://buttondown.email/riccardo.odone/archive/pinkletter-transfer-knowledge/">example</a> of what you will get.
    <br />
    I'll never share or sell your email. Unsubscribing is easy, I hate spam too.
  </p>
</div>
