<div id="newsletter" class="newsletter-container text-center py-5 mt-5">
  <div class="col-12 col-sm-12 col-md-6 col-xl-6 mx-auto">
    <h2>Tired of RELEARNING webdev stuff?</h2>

    <div class="mt-25 w-80 mx-auto">
      <ul class="text-left list-style-circle list-style-inside p-0 m-0">
        <li>A 79-page book with the best links I curated over the years</li>
        <li class="mt-5-">An email once a week full of timeless software wisdom</li>
        <li class="mt-5-">Your recommended weekly dose of pink</li>
      </ul>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-xl-6 mx-auto mt-sm-50">
    <h2>PinkLetter</h2>

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/riccardo.odone"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/riccardo.odone', 'popupwindow')"
      class="my-4"
      style="margin: auto; max-width: 400px; width: 80%;"
    >
      <input class="input-lg form-control fs-bigger" type="email" name="email" id="bd-email" placeholder="Email address" required>
      <input type="hidden" value="1" name="embed"></input>

      <div class="mt-4 text-left">
        <input class="btn btn-primary fs-bigger w-100 white-space-normal" type="submit" value="Send me evergreen software wisdom!"></input>
      </div>
    </form>

    <p class="small mt-4">
      <span style="font-style: italic;">It's one of the selected few I follow every week</span> – Mateusz
    </p>
  </div>
</div>
