<div id="newsletter" class="newsletter-container text-center py-5 mt-5">
  <h2>Tired of RELEARNING webdev stuff every other week?</h2>
  <p>
    I help you cultivate timeless skills about software development.
    <br />
    The PinkLetter is short, weekly, technology-agnostic, and pink.
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/riccardo.odone"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/riccardo.odone', 'popupwindow')"
    class="my-5"
  >
    <div class="col-12 col-sm-8 col-md-6 col-xl-4 mx-auto">
      <div class="text-left"><label for="bd-email" class="font-weight-bold">Email</label></div>
      <input class="input-lg form-control fs-bigger" type="email" name="email" id="bd-email" required>
      <input type="hidden" value="1" name="embed"></input>

      <div class="mt-4 text-left">
        <input class="btn btn-primary fs-bigger w-100" type="submit" value="Send me evergreen software wisdom!"></input>
      </div>
    </div>
  </form>

  <p class="small">
    Here's an <a target="_blank" rel="noopener" href="https://buttondown.email/riccardo.odone/archive/pinkletter-transfer-knowledge/">example</a> of what you will get.
    <br />
    Unsubscribing is easy. I hate spam too.
  </p>
</div>
