<div class="col-sm-8 col-md-8 col-lg-6 mx-auto mt-4">
  <article>
    $if(cover_image)$
      <img class="mb-4" src="$cover_image$"></img>
    $endif$

    <h1>$title$</h1>
    <section class="font-weight-light text-secondary smaller mb-4">
      <div class="mb-2">
        Posted on $date$
        $if(author)$
          by $author$$endif$.
        $if(canonical_url)$
          Originally posted at <a href="$canonical_url$" target="_blank" rel="noopener">$canonical_url$</a>.
        $endif$
      </div>

      <div>
        $tags$
      </div>
    </section>

    $if(series)$
      <section class="series-container">
        <h3 class="series-heading">$series$ (Series)</h3>
        $for(seriesPosts)$
          <a class="series-post series-post-$klass$" href="$url$">$title$</a>
        $endfor$
      </section>
    $endif$

    <section>
      $body$
    </section>

    $if(tweet)$
      <hr />

      <p>
        <strong>I need your help</strong> to make the blog awesome.
        <a target="_blank" rel="noopener" href="https://forms.gle/aRRjQ6sNiFs7PkRAA">Here's a survey</a>. Since there are no required questions, <strong>you decide how much time to spend on it</strong>.
      </p>

      <p style="display: none">
        Support my work by <a href="$tweet$" target="_blank" rel="noopener">tweeting</a> this article! 🙏
      </p>
    $endif$
  </article>
</div>
