<article>
    <h1>$title$</h1>
    <section class="font-weight-light text-secondary smaller">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
        <br />
        $tags$
    </section>
    <br />
    <section>
        $if(cover_image)$
          <img class="cover mb-4" src="$cover_image$"></img>
        $endif$

        $body$
    </section>
    $if(tweet)$
      <hr />
      Support my work by <a href="$tweet$" target="_blank" rel="noopener">tweeting</a> this article! 🙏
    $endif$
</article>
