ansible/inventory
ansible/secrets.yml

blog/.stack-work
blog/_cache
blog/_site

.DS_Store
dist-newstyle/

xpath/node_modules/
xpath/public/index.js
xpath/yarn-error.log

timeless-software-wisdom/timeless-software-wisdom.pdf

typescript.tips/node_modules/
typescript.tips/dist/
