div.sourceCode {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

pre.sourceCode {
  background: rgba(0,0,0,.04);
  padding: 30px 5vw 30px 5vw;
  overflow: scroll;
}

.cover {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.content-image {
  width: 100%;
}
