div.sourceCode {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  overflow: scroll;
}

pre.sourceCode {
  background: rgb(240,240,240);
  padding: 30px 5vw 30px 5vw;
  overflow: scroll;
}

code {
  background: rgb(240,240,240);
}

.cover {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.content-image {
  width: 100%;
}

img {
  width: 100%;
}
