:root {
  --pink: #f76ca5;
  --blue: #007bff;
  --logo-size: 50px;
  --background: aliceblue;
}

html,
body {
  height: 100%;
}

html {
  font-size: 1rem;
}

body {
  font-size: 1.3rem;
}

header {
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  padding: 10px 0;
}

ul {
  padding-left: 0;
}

.no-list-style {
  list-style-type: none;
}

.content {
  flex: 1 0 auto;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--pink);
}

a.post-title {
  font-size: 1.7rem;
}

.twitter-tweet {
  margin: auto;
}

.pink {
  color: var(--pink);
}

.logo {
  display: block;
  margin: auto;
  width: var(--logo-size);
  height: var(--logo-size);
  text-decoration: none;
  cursor: pointer;
  background-size: var(--logo-size);
  background-image: url('/images/android-chrome-512x512.png');
  -webkit-tap-highlight-color: var(--pink);
}

.logo:hover, .logo:focus, .logo:active {
  background-image: url('/images/android-chrome-512x512-pink.png');
}

footer {
  color: white;
  background: var(--pink);
  box-shadow: 0 0 10px var(--pink);
  flex-shrink: none;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

.smaller {
  font-size: 1rem;
}

@media (min-width: 320px) {
  body {
    font-size: 1.3rem;
  }
}

blockquote {
  padding-left: 1em;
  border-left: 0.2em solid var(--pink);
}

div.sourceCode {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

pre.sourceCode {
  background: var(--background);
  padding: 30px 5vw 30px 5vw;
  -webkit-overflow-scrolling: touch;
}

code {
  background: var(--background);
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  color: deeppink;
}

.cover {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.content-image {
  width: 100%;
}

img {
  width: 100%;
}

.selfie {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
