html {
  font-size: 1rem;
}

blockquote {
  padding-left: 1em;
  border-left: 0.2em solid rgb(240,240,240);
}

body {
  font-size: 1.3rem !important;
}

header {
  border-bottom: 0.2rem solid #000;
}

footer {
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

article .header {
  font-size: 1rem;
  font-style: italic;
  color: #555;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.logo a:hover {
  color: #007bff;
  text-decoration: none;
}

@media (min-width: 320px) {
  body {
    font-size: 1.3rem;
  }

  .logo {
    font-size: 1.9rem;
  }
}

div.sourceCode {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

pre.sourceCode {
  background: rgb(240,240,240);
  padding: 30px 5vw 30px 5vw;
  -webkit-overflow-scrolling: touch;
}

code {
  background: rgb(240,240,240);
  overflow: auto !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.cover {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.content-image {
  width: 100%;
}

img {
  width: 100%;
}
